<!-- component table. Show tables 1 and 2 -->

<!-- start table 1 -->
<!-- bootstrap implement -->
<div class="container text-center">
    <h2>Table 1:</h2>
    <p>Sales sorted by total</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody *ngFor="let item of sortList">
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.total}}</td>
            </tr>
        </tbody>
    </table>
    <h2>Table 2:</h2>
    <p>Sales grouped by month and sorted by total</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>MONTH</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody *ngFor="let item of sortMonth">
            <tr>
                <td>{{item.date}}</td>
                <td>{{item.total}}</td>
            </tr>
        </tbody>
    </table>
    <div class="note">
        <ul>
            <li>
                <div>
                    not including additional Javascript libraries.
                </div>
            </li>
        </ul>
    </div>
</div>