<!--The content below is only a placeholder and can be replaced.-->

<div id="header" class="sheader">
    <div class="row whitelog">
        <img src="assets/interfell.png" routerLink="/" routerLinkActive="active" class="logo">
    </div>
</div>
<div class="jumbotron text-center">
    <h1>Test To interfell: salesJson!</h1>
    <p>Sort http get sales.json</p>
</div>

<div class="flex-container">
    <app-tables></app-tables>
</div>